*{
	margin:0;
	padding:0;
}
body{
	background-color:white;			
	color: rgba(0,0,01);
	font-family:'Verdana', sans-serif;
   
	
}
.menu{
	width:100%;
	height:50px;
	background-color:#222;
	font-family: 'Arial';
	border-top: 4px solid  gray;
	border-bottom: 4px solid gray;
	
}

.menu ul{
	list-style:none;
	position:relative;
}

.menu ul li{
	width: 150px;
	float: left;
}
.menu a{
	padding:15px;
	display:block;
	text-decoration: none;
	text-align:center;
	background-color: #222;
	color: #fff;	
}
.menu ul ul{
	position:absolute;
	visibility:hidden;
}
.menu ul li:hover ul{
	visibility:visible;
}
.menu a:hover{
	background-color:#778899;
	color:#555;
}
.menu ul ul li{
	float:none;
	border-bottom: solid 4px #A9A9A9;
	
}
.menu ul ul li a{
	background-color: white-space;
}
label[for="bt_menu"]{
	padding:5px;
	background-color: #222;
	color: #fff;
	font-family: "Arial";
	text-align:center;
	font-size:30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
#bt_menu{
	display:none;
}
label[for="bt_menu"]{
	display: none;
	
}
/** comportamento do menu **/
 @media(max-width: 800px){
   label[for="bt_menu"]{
	display:block;
	
}
#bt_menu:checked ~ .menu{
margin-left:0;
}
.menu{
margin-top: 5px;
margin-left: -100%;
transition: all .4s;
}
  .menu ul li{
  width: 100%;
  float: none;
  }
  .menu ul ul{
  position:static;
  overflow:hidden;
  max-height: 0;
  transition: all .4s;
  }
  .menu ul li:hover ul{
  height: auto;
  max-height:200px;
  
  }
  
  }
  #figurelogogrande {
    text-align: center;
    margin: 8% 0 0 0;
}
#logogrande {
    width: 60%;
}

#sobre h1 {
    text-align: center;
    color: #262626;
    font-weight: bolder;
	font-size:40px;
}
.page-header{
	width:100%;
	text-align:center;
}
.title-page{
	display:inline-block;
	padding:10px;
	background:#778899 ;
	
}

/* Slideshow container */
.gallery-container {
  width: 90%;
  position: relative;
  margin: 0 5%;
  background: #333;
  padding: 2px;
  border-radius:40px;
 }
  @media (min-width: 800px) {
      .gallery-container {
        width: 800px;
        margin: auto;
      }
  }

/* Ocultar as imagens por padrão */
.mySlides {
  display: none;
}

/* Botões próximos e anteriores */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.1);
}

/* Posição  "próximo botão" para a direita*/
.next {
  right: 0;
  border-radius:40px;

}

/* Ao passar o mouse, adicione uma cor de fundo preta com um pouco de transparência */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Texto da legenda */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.imgslide {
  width: 100%;
    border-radius:40px;
}

/* Número de texto (1/3 etc) */
.numbertext {
  color: black;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
@media (max-width: 768px) {
  .numbertext {
    top: 15px;
  }
}

/* Animação de desvanecimento*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  

}

header{
	margin: .5vw;
	font-size: 0;
	display: -ms- flexbox;
	-ms-flexbox-wrap:wrap;
	-ms-flexbox-direction:column;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
	display: -webkit-box;
	display:flex;
	
}

header div{
	-webkit-box-flex:auto;
	-ms-flex:auto;
	flex:auto;
	width:200px;
	margin: .5vw;
	
	
}

header div img{
	width:100%;
	height:auto;
}
 @media screen and (max-width: 400px){
	 header div{
		 margin:0;
 }
 header{
	 padding:0;
   }
 }
 .container {
  width: 50%;
  margin: 0 auto;
  
}

.form-contact {
  width: 100%;
  font-family: "Verdana",  sans-serif;
}

.form-contact-input {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid gray;
  text-indent: 20px;
  
}

.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Verdana",  sans-serif;;
}

.form-contact-button {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: black;
  display: block;
  border: none;
  border-bottom: 1px solid blue;
  border-right: 1px solid gray;
  transition: 1s;
}

.form-contact-button:hover {
  opacity: 1;
}
 
footer {
	background-color:#222;
	text-align:center;
	padding:10px;
	margin-top:15px;
	color:white;
	height:30%;
	width: 100%;
    border-top: 4px solid gray;
	border-bottom: 4px solid gray;
}